@import "dark-mode";

@mixin list-strip {
  padding-left: 0;
	margin-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

@mixin font-lg {
  font-family: "CalibreWeb";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.3;

  @media (min-width: $bp-xxs) {
    font-size: 3.5rem;
    line-height: 1.2;
  }

  @media (min-width: $bp-md) {
    font-size: 6rem;
    line-height: 1;
  }
}

@mixin font-1 {
  font-family: "CalibreWeb";
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.3;

  @media (min-width: $bp-xxs) {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  @media (min-width: $bp-md) {
    font-size: 4rem;
    line-height: 1.18;
  }
}

@mixin font-2 {
  font-family: "CalibreWeb";
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.3;

  @media (min-width: $bp-xxs) {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  @media (min-width: $bp-md) {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

@mixin font-3 {
  font-family: "CalibreWeb";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6;

  @media (min-width: $bp-xxs) {
    font-size: 1.25rem;
    line-height: 1.6;
  }

  @media (min-width: $bp-md) {
    font-size: 1.5rem;
    line-height: 1.52;
  }
}

@mixin font-4 {
  font-family: "CalibreWeb";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;

  @media (min-width: $bp-sm) {
    font-size: 1rem;
  }
}
