@import "dark-mode";

@mixin list-strip {
  padding-left: 0;
	margin-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

@mixin font-1 {
  font-family: 'Geist SemiBold', sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -1px;

  @media (min-width: $bp-sm) {
    font-size: 3.625rem;
    line-height: 5rem;
    letter-spacing: -2px;
  }
}

@mixin font-2 {
  font-family: 'Geist SemiBold', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: -1px;

  @media (min-width: $bp-sm) {
    font-size: 2.25rem;
    line-height: 3rem;
  }
}

@mixin font-3 {
  font-family: 'Geist SemiBold', sans-serif;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 2rem;
  letter-spacing: -0.5px;

  @media (min-width: $bp-sm) {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

@mixin font-3-regular {
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.25rem;

  @media (min-width: $bp-sm) {
    font-size: 1.75rem;
    line-height: 2.75rem;
  }
}

@mixin font-4 {
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;

  @media (min-width: $bp-sm) {
    font-size: 1.375rem;
    line-height: 2.25rem;
  }
}

  @mixin font-5 {
    font-family: 'Geist', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;

    @media (min-width: $bp-sm) {
      font-size: 1.125rem;
      line-height: 2rem;
    }
}
