@mixin dark-mode {
  background: $darkbackgroundColor;
  color: $darktext;

  ::selection {
    color: $darkselection;
    background: $darkselectionbackground;
  }

  h1, h2, h3 {
    color: $darktext;
  }

  h4 {
    color: $darktextLight;
  }

  p,
  ol,
  ul,
  a {
    color: $darktextBody;
  }

  a {

    &:hover {
      color: $darktextLight;
    }
  }

  figcaption {
    color: $darktextLight;
  }

  .c-eyebrow {
    color: $darktextLight;
  }

  hr {
    border-bottom: 1px solid $darkborderColor;
  }

  .c-grid__work--title {
    color: $darktext;
  }

  .c-about__list-number {
    color: $darktextLight;
  }

  .c-links__label {
    color: $darktext;
  }

  .c-blog__title {
    color: $darktext;
  }

  .c-blog__link {

    & a:hover {
      color: $darktextLight;
    }

    &--nolink {
      color: $darktext;
    }

    & svg {
    
      & path {
        fill: $darktext;
      }

      &:hover path {
        fill: $darktextLight;
      }
    }
  }

  .c-header__title {
		color: $darktext;

		&:hover {
			color: $darktext;
    }
  }

  .c-icon__fill {
    fill: $darktextLight;
  }

  .c-media {
    background: $darkmediaBackground;

    &--border {
      border: none;
    }
  }

  .c-embed {
    border: none;
  }

  .c-nav__link {
		color: $darktextLight;

		&:hover {
			color: $darktext;
		}

		&.active {
			color: $darktext;
		}
	}

  .quote {
    background-color: $darkmediaBackground;
    border-color: $darkborderColor;
  }
}
