@mixin dark-mode {
  background: $dark-backgroundColor;
  color: $dark-textLight;

  ::selection {
    color: $selection;
    background: $dark-selection-background;
  }

  h1, h2, h3 {
    color: $dark-textColor;
  }
  h4 {
    color: $dark-textLighter;
  }
  a {
    color: $dark-textColor;
    &:hover {
      color: $dark-textLighter;
    }
  }
  figcaption {
    color: $dark-textLighter;
  }
  hr {
    border-bottom: 1px solid $dark-borderColor;
  }
  .c-about__list-item {
    color: $dark-textLighter;
  }
  .c-blog__title {
    color: $dark-textColor;
    &:hover {
      color: $dark-textLighter;
    }
  }
  .c-header__title {
		color: $dark-textColor;
		&:hover {
			color: $dark-textColor;
    }
  }
  .c-icon__fill {
    fill: $dark-textLighter;
  }
  .c-media {
    background: $dark-mediaBackground;
  }
  .c-nav__link {
		color: $dark-textLighter;
		&:hover {
			color: $dark-textColor;
		}
		&.active {
			color: $dark-textColor;
		}
	}
}