.c-about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $spacing-xxs;
  row-gap: $spacing-xxs;

  @media (min-width: $bp-xxs) {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-xs;
    row-gap: $spacing-md;
  }

  &__list {

    &-header {
      margin-top: 0;
    }

    &-number {
      @include font-5;
      color: $textLight;
      margin-bottom: 0.25rem;

      @media (min-width: $bp-sm) {
        margin-bottom: $spacing-half;
      }
    }
  }
}