.c-about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $spacing-xxs;
  row-gap: $spacing-xxs;

  @media (min-width: $bp-xxs) {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-xs;
    row-gap: $spacing-md;
  }

  &__list {
    @include list-strip;
    margin-top: 0;

    &-item {
      @include font-4;
      color: $textLight;
      margin-top: $spacing-half;

      @media (min-width: $bp-xs) {
        margin-top: $spacing-half;
      }
    }
  }
}