.c-blog {
  @include list-strip;

  &__item:not(:last-child) {
    margin-bottom: $spacing-sm;

    @media (min-width: $bp-sm) {
      margin-bottom: $spacing-xl;
    }
  }

  &__title {
    @include font-2;
    color: $text;
    display: inline-block;

    &--nolink {
      margin-bottom: 0;
    }
  }

  &__link {
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;

    @media (min-width: $bp-sm) {
      text-underline-offset: 4px;
      text-decoration-thickness: 2px;
    }

    & a:hover {
      color: $textLight;
      border: 0;
    }

    & svg {
    
      & path {
        fill: $text;
      }

      &:hover path {
        fill: $textLight;
      }
    }
  }
}
