.c-blog {
  @include list-strip;

  &__item:not(:last-child) {
    margin-bottom: $spacing-sm;

    @media (min-width: $bp-sm) {
      margin-bottom: $spacing-xl;
    }
  }

  &__title {
    @include font-2;
    color: $text;
    display: inline-block;

    &:hover {
      color: $textLight;
      border: 0;
    }

    &--nolink {
      @include font-2;
      color: $text;
      text-decoration: none;
      margin-bottom: 0;
    }

    & svg {
      fill: $text;

      &:hover {
        fill: $textLight;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}
