.c-blog {
  @include list-strip;

  &__item:not(:last-child) {
    margin-bottom: $spacing-sm;

    @media (min-width: $bp-sm) {
      margin-bottom: $spacing-xl;
    }
  }

  &__title {
    @include font-2;
    color: $textColor;
    text-decoration: none;

    &:hover {
      color: $textLighter;
      border: 0;
    }
  }
}
