.c-feature {
  display: grid;
  grid-template-columns: 100%;

  @media (min-width: $bp-sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__body {
    margin-top: 0;

    @media (min-width: $bp-sm) {
      grid-column: 2 / span 2;
    }
  }

  &__title {
    margin-bottom: $spacing-xs;

    @media (min-width: $bp-xs) {
      margin-bottom: $spacing-md;
    }
  }

  &__talk-list {
    @include list-strip;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $spacing-xxs;
    row-gap: $spacing-xxs;
    margin-top: 12px;

    @media (min-width: $bp-xs) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $bp-sm) {
      grid-column: span 2;
      grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: $bp-md) {
      grid-template-columns: repeat(2, 1fr);
      gap: $spacing-xs;
      row-gap: $spacing-md;
    }
  }

  &__talk {
    display: flex;
  }
}