.c-footer {
  display: flex;
  gap: $spacing-half;
  color: $textLight;
	margin-bottom: $spacing-xs;

	@media (min-width: $bp-xxs) {
    margin-bottom: $spacing-sm;
  }

  @media (min-width: $bp-sm) {
    margin-bottom: $spacing-xl;
	}
}

#date {
  margin: 0;
}
