// Global namespace for footer component
$footer-namespace: "c-footer" !default;

.#{$footer-namespace} {
	padding: 1.5rem 0;
	text-align: center;

	@media (min-width: $bp-sm) {
		padding: 2.5rem 0;
	}

	&__stamp,
	&__date {
		@include font-4;
	}

	&__stamp {
		margin-top: 0.75rem;
	}

	&__date {
		@include themify($themes) {
			color: themed('textLighter');
		}
	}
}
