// Global namespace for footer component
$footer-namespace: "c-footer" !default;

.#{$footer-namespace} {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	text-align: center;

	& ul {
		margin-bottom: 0.5rem;
	}
}
