.grid {
  display: grid;

  &__col-3 {
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
    margin-top: $spacing-xxl;
  }

  &__col-span {
    grid-column: span 2;
    margin-top: 0;
  }
}