.c-grid {

  &__half {
    display: grid;
    grid-template-columns: 100%;
    margin: $spacing-md 0;

    @media (min-width: $bp-xs) {
      margin: $spacing-xxl 0;
    }

    @media (min-width: $bp-sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $spacing-lg;
    }

    @media (min-width: $bp-xxs) {
      grid-gap: $spacing-xl;
    }
  
    @media (min-width: $bp-xs) {
      grid-gap: $spacing-xxl;
    }

    &-item {
      grid-column: span 1;

      &:nth-child(1) {
        grid-row: 2;

        @media (min-width: $bp-sm) {
          grid-row: 1;
        }
      }

      &:nth-child(2) {
        grid-row: 1;
      }
    }
  }

  &__col {

    &:last-child {
      margin-top: $spacing-xxs;

      @media (min-width: $bp-xs) {
        margin-top: $spacing-sm;
      }

      @media (min-width: $bp-sm) {
        margin-top: 0;
      }
    }
  }

  &__mt {
    margin-top: $spacing-half;
    
    @media (min-width: $bp-sm) {
      margin-top: $spacing-half;
    }
  }
}