.c-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: $spacing-sm 0;

	@media (min-width: $bp-xxs) {
		padding: $spacing-lg 0;
	}

	@media (min-width: $bp-sm) {
		padding: $spacing-xl 0;
	}

	@media (min-width: $bp-md) {
		padding: $spacing-xxl 0;
	}

	&__title {
		@include font-3;
		color: $textColor;
		text-decoration: none;

		&:hover {
			color: $textColor;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
	}

	&__button {
		display: none;
    background: transparent;
    width: 1.5rem;
    height: 1.5rem;
		border: 0;
		margin-top: 1px;
		margin-left: $spacing-xxs;

		@media (min-width: $bp-xs) {
			margin-left: $spacing-xs;
		}

		@media (min-width: $bp-xxs) {
			display: block;
		}
	
    &:hover {
      cursor: pointer;
    }
	
    &:focus {
      outline: 0;
		}
	}
}
