.c-icon {

  &__lock {
    margin-top: -2px;
    margin-left: $spacing-half;

    @media (min-width: $bp-xs) {
      margin-top: 0;
    }
  }

  &__link {
    transform: translateY(0.125rem);
    margin-left: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;

    @media (min-width: $bp-xs) {
      transform: translateY(0.25rem);
      margin-left: $spacing-half;
      width: 2rem;
      height: 2rem;
    }
  }

  &__fill {
    fill: $textLight;
  }
}
