.c-intro {
  margin-bottom: $spacing-lg;

  @media (min-width: $bp-sm) {
    margin-bottom: $spacing-xl;
  }

  @media (min-width: $bp-md) {
    margin-bottom: $spacing-jumbo;
    max-width: 48rem;
  }

  @media (min-width: $bp-row) {
		padding: 0 $spacing-xs;
	}

  &-description {
    @include font-2-regular;
  }

  &-text {
    margin-bottom: $spacing-md;

    @media (min-width: $bp-sm) {
      margin-bottom: $spacing-lg;
    }

    @media (min-width: $bp-md) {
      margin-bottom: $spacing-xxl;
    }
  }

  &-casestudy {
    @media (min-width: $bp-row) {
      padding: 0 $spacing-xs;
    }
  }
}
