.c-intro {

  @media (min-width: $bp-md) {
    padding-right: 6rem;
  }

  @media (min-width: $bp-lg) {
    width: 50%;
    padding-right: 0;
  }

  @media (min-width: $bp-xl) {
    padding-right: 8rem;
  }
}
