.c-intro {
  margin-bottom: $spacing-xxl;

  &-description {
    @include font-2-regular;
    max-width: 56rem;

    @media (min-width: $bp-md) {
      max-width: 48rem;
    }
  }

  // &-text {
  //   margin-bottom: $spacing-md;

  //   @media (min-width: $bp-sm) {
  //     margin-bottom: $spacing-lg;
  //   }

  //   @media (min-width: $bp-md) {
  //     margin-bottom: $spacing-xxl;
  //   }
  // }
}
