.c-main {
  margin-top: $spacing-md;

  @media (min-width: $bp-xs) {
    margin-top: $spacing-xl;
  }

  &__case-study {
    margin-top: 0;

    @media (min-width: $bp-xs) {
      margin-top: $spacing-xxs;
    }
  }
}
