.c-media {
  background: $mediaBackground;

  &--padding {
    padding: $spacing-xxs;

    @media (min-width: $bp-xxs) {
      padding: $spacing-xxs $spacing-xs;
    }

    @media (min-width: $bp-xs) {
      padding: $spacing-sm $spacing-lg;
    }

    @media (min-width: $bp-sm) {
      padding: $spacing-md $spacing-xl;
    }

    @media (min-width: $bp-md) {
      padding: $spacing-lg $spacing-xxl;
    }
  }
}