.c-media {
  background: $mediaBackground;
  overflow: hidden;

  & + h1 {
    margin-top: $spacing-xxs;

    @media (min-width: $bp-xs) {
      margin-top: $spacing-xs;
    }

    @media (min-width: $bp-xs) {
      margin-top: $spacing-sm;
    }
  }

  &--padding {
    padding: $spacing-half;

    @media (min-width: $bp-tiny) {
      padding: $spacing-tiny;
    }

    @media (min-width: $bp-xs) {
      padding: $spacing-xxs;
    }

    &-lg {
      padding: $spacing-xxs $spacing-lg;
  
      @media (min-width: $bp-xxs) {
        padding: $spacing-xs $spacing-xxl;
      }
  
      @media (min-width: $bp-xs) {
        padding: $spacing-lg 14rem;
      }
  
      @media (min-width: $bp-xs) {
        padding: $spacing-xl 18rem;
      }
  
      @media (min-width: $bp-md) {
        padding: $spacing-xxl 22rem;
      }
    }
  }

  & + h3 {
    margin-top: $spacing-tiny;

    @media (min-width: $bp-tiny) {
      margin-top: $spacing-xxs;
    }

    @media (min-width: $bp-xxs) {
      margin-top: 1.75rem;
    }

    @media (min-width: $bp-xs) {
      margin-top: $spacing-xs;
    }
  }

  & + .c-wrap__project {
    margin-top: $spacing-xs;

    @media (min-width: $bp-xs) {
      margin-top: $spacing-sm;
    }
  }
}

h2 + .c-media {
  margin-top: $spacing-xs;

  @media (min-width: $bp-xs) {
    margin-top: $spacing-sm;
  }
}

h3 + figure {
  margin-top: $spacing-xxs;

  @media (min-width: $bp-xs) {
    margin-top: $spacing-xs;
  }
}

p + .c-media {
  margin-top: $spacing-lg;

  @media (min-width: $bp-xs) {
    margin-top: $spacing-xxl;
  }
}