.c-message {
  display: flex;
  padding: 1rem 1.5rem;
  background-color: $mediaBackground;
  border: 1px solid $borderColor;
  border-radius: 0.75rem;

  & + h2 {
    margin-top: $spacing-xxs;

    @media (min-width: $bp-xxs) {
      margin-top: $spacing-xs;
    }

    @media (min-width: $bp-xs) {
      margin-top: $spacing-md;
    }
  }
}