// Global namespace for nav component
$nav-namespace: "c-nav" !default;

.#{$nav-namespace} {
	@include list-strip;

	&__item {
		@include font-4;
		display: inline-block;

		+.#{$nav-namespace}__item {
			margin-left: 1rem;
		}
	}

	&__link {
		@include themify($themes) {
			color: themed('textLighter');
		}
		padding: .125rem .5rem .2rem .5rem;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			@include themify($themes) {
				color: themed('textLighter');
				background-color: themed('mediaBackground');
			}
			border-bottom: 0;
		}

		&.active {
			@include themify($themes) {
				color: themed('backgroundColor');
				background-color: themed('primaryColor');
			}
		}
	}
}
