// Global namespace for nav component
$nav-namespace: "c-nav" !default;

.#{$nav-namespace} {
	@include list-strip;

	&__item {
		@include font-4;
		display: inline-block;

		+.#{$nav-namespace}__item {
			margin-left: 1.5rem;

			@media (min-width: $bp-sm) {
				margin-left: 2rem;
			}
		}
	}

	&__link {
		@include themify($themes) {
			color: themed('textLighter');
		}

		border-bottom: 0;

		&:hover {
			@include themify($themes) {
				color: themed('textColor');
			}

			cursor: pointer;
		}

		&.active {
			@include themify($themes) {
				color: themed('textColor');
			}
		}
	}
}
