// Global namespace for nav component
$nav-namespace: "c-nav" !default;

.#{$nav-namespace} {
	@include list-strip;

	&__item {
		@include font-4;
		display: inline-block;

		+.#{$nav-namespace}__item {
			margin-left: 1rem;

			@media (min-width: $bp-sm) {
		    margin-left: 1.5rem;
		  }
		}
	}

	&__link {
		@include themify($themes) {
			color: themed('textLighter');
		}
		cursor: pointer;

		&:hover {
			@include themify($themes) {
				color: themed('textColor');
			}
			border-bottom: 0;
		}

		&.active {
			@include themify($themes) {
				color: themed('primaryColor');
			}
		}
	}
}
