.c-text {

  &__role {
    @include font-4;
  }
}

.c-text-format {

  &--header {

    & h1 {
      @include font-1;
    }
  }

  & h1 {
    max-width: 100%;

    @media (min-width: $bp-xxs) {
      max-width: 36rem;
    }

    @media (min-width: $bp-xs) {
      max-width: 50rem;
    }
  }

  & p {
    max-width: 100%;

    @media (min-width: $bp-xs) {
      min-width: 30rem;
      max-width: 30rem;
    }

    @media (min-width: $bp-sm) {
      min-width: 36rem;
      max-width: 36rem;
    }

    @media (min-width: $bp-md) {
      min-width: 48rem;
      max-width: 48rem;
    }
  }
}
