.c-work {
  display: grid;
  grid-template-columns: 100%;

  @media (min-width: $bp-sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__m-strip {
    margin: 0;
  }

  &__image {
    max-width: 16rem;
    margin-top: 8px;
    margin-bottom: $spacing-xxs;

    @media (min-width: $bp-xs) {
      max-width: 18rem;
    }

    @media (min-width: $bp-sm) {
      max-width: 16rem;
      margin-bottom: 0;
    }

    @media (min-width: $bp-md) {
      max-width: 18rem;
      margin-bottom: 0;
    }
  }

  &__body {
    grid-column: span 2;
    margin-top: 0;
  }

  &__description {
    margin-bottom: $spacing-xs;

    @media (min-width: $bp-xs) {
      margin-bottom: $spacing-md;
    }
  }

  &__project-list {
    @include list-strip;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $spacing-xxs;
    row-gap: $spacing-xxs;

    @media (min-width: 45rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $bp-sm) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: $bp-md) {
      grid-template-columns: repeat(2, 1fr);
      gap: $spacing-xs;
      row-gap: $spacing-md;
    }
  }

  &__project {
    display: flex;
  }

  &__li {

    &--InVision {
      display: flex;
      text-decoration: none;

      &:hover {
        color:  #f36 !important;
      }
    }

    &--IBM {
      display: flex;
      text-decoration: none;

      &:hover {
        color:  #0064FF !important;
      }
    }
  }

  &__arrow {
    margin-top: 2px;
    margin-left: 6px;
  }

  &__link {
    @include themify($themes) {
      color: themed('textColor');
    }
    display: flex;
    flex-direction: column;

    &:hover {
      @include themify($themes) {
        color: themed('textLighter');
      }
      border: 0;
    }
  }

  &__meta {
    display: flex;
    flex-direction: row;
    align-items: center;

    & span {
      @include font-4;
      @include themify($themes) {
        color: themed('textLighter');
      }
    }

    &-icon {
      margin-left: $spacing-half;

      @media (min-width: $bp-xs) {
        margin-top: 1px;
      }
    }
  }

  &__item {
    @include themify($themes) {
      color: themed('textColor');
    }
    display: flex;
    flex-direction: column;

    & span {
      @include font-4;
      @include themify($themes) {
        color: themed('textLighter');
      }
    }
  }
}