.c-wrap {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $bp-tiny) {
    max-width: 36rem;
  }

  @media (min-width: $bp-xxxs) {
    max-width: 48rem;
  }

  @media (min-width: $bp-xs) {
    max-width: 60rem;
  }

  @media (min-width: $bp-md) {
    max-width: 76rem;
  }

  &__pad {
    padding-left: $spacing-tiny;
    padding-right: $spacing-tiny;

    @media (min-width: $bp-tiny) {
      padding-left: $spacing-xxs;
      padding-right: $spacing-xxs;
    }

    @media (min-width: $bp-xxxs) {
      padding-left: $spacing-md;
      padding-right: $spacing-md;
    }

    @media (min-width: $bp-xxs) {
      padding-left: $spacing-xxl;
      padding-right: $spacing-xxl;
    }
  }
}
