.c-wrap {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $bp-md) {
    max-width: 80rem;
  }

  &__pad {
    padding-left: $spacing-xxs;
    padding-right: $spacing-xxs;

    @media (min-width: $bp-tiny) {
      padding-left: $spacing-sm;
      padding-right: $spacing-sm;
    }

    @media (min-width: $bp-xxxs) {
      padding-left: $spacing-md;
      padding-right: $spacing-md;
    }

    @media (min-width: $bp-xxs) {
      padding-left: $spacing-xxl;
      padding-right: $spacing-xxl;
    }
  }
}
