# Logging
.jekyll-metadata
.publish
*.log
commit-hook.sh
.jekyll-cache/

# Build
_site

# Dev Dependencies
Gemfile.lock
node_modules
.bundle

# Old Pages
_work/apple.md
_work/invision.md
_work/makelab.md
_work/new.md

