// Global namespace for wrapper object
$wrap-namespace: "o-wrap" !default;

// Global width for wrapper
$wrap-width: 100% !default;

.#{$wrap-namespace} {
    display: block;
    max-width: $wrap-width;
    margin: 0 auto;
    padding: 0 2rem;
}
