.u-inline-block {
  display: inline-block;
}

.u-flex-row {
  display: flex;
  flex-direction: row;
  gap: $spacing-half;
}

.u-hide {
  display: block;

  @media (min-width: $bp-xxxs) {
    display: none;
  }
}

.u-show {
  display: none;

  @media (min-width: $bp-xxxs) {
    display: block;
  }
}

.u-m-strip {
  margin: 0;
}

.u-mb-tiny {
  margin-bottom: $spacing-tiny;

  @media (min-width: $bp-xs) {
    margin-bottom: $spacing-xxs;
  }
}