		<footer class="c-footer" role="contentinfo">
			<ul class="c-nav">
				<li class="c-nav__item">
					<a class="c-nav__link c-nav__link--reverse" href="https://twitter.com/matthewcpaul">Twitter</a>
				</li>
				<li class="c-nav__item">
					<a class="c-nav__link c-nav__link--reverse" href="https://github.com/matthewcpaul">GitHub</a>
				</li>
				<li class="c-nav__item">
					<a class="c-nav__link c-nav__link--reverse" href="https://dribbble.com/matthewcpaul">Dribbble</a>
				</li>
				<li class="c-nav__item">
					<span>&copy; {{ site.time | date: '%Y' }} {{ site.name }}</span>
				</li>
			</ul>
		</footer>
	</body>
</html>
