<footer class="c-footer" role="contentinfo">
	<ul class="c-nav">
		<li class="c-nav__item">
			<a class="c-nav__link" href="https://twitter.com/matthewcpaul">Twitter</a>
		</li>
		<li class="c-nav__item">
			<a class="c-nav__link" href="https://www.instagram.com/matthewc.paul/">Instagram</a>
		</li>
		<li class="c-nav__item">
			<a class="c-nav__link" href="https://github.com/matthewcpaul">GitHub</a>
		</li>
		<li class="c-nav__item">
			<a class="c-nav__link" href="https://codepen.io/matthewcpaul">CodePen</a>
		</li>
		<li class="c-nav__item">
			<a class="c-nav__link" href="https://dribbble.com/matthewcpaul">Dribbble</a>
		</li>
	</ul>
</footer>
