<!DOCTYPE html>
<html lang=en{% if page.class %} class="{{ page.class }}"{% endif %}>
	<meta charset="utf-8"/>
	<title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	<meta name="viewport" content="initial-scale=1" />
	<meta name="p:domain_verify" content="73bb9724cf18cc4f5f5d8e8553eeb2ff"/>

	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:site_name" content="{{ site.name }}"/>
	<meta property="og:description" content="{{ site.description | strip_html }}"/>
	<meta property="og:url" content="{{ page.url }}"/>

	<link rel="stylesheet" href="assets/css/style.css">

	<link rel="shortcut icon" href="/images/Matthew-Paul_Sept-2016_square-64.png"/>

	<body>
		<header role="banner">
		</header>
