<article class="c-work c-work--align-center">
  <a href="{{ work.url | prepend: site.baseurl }}">
    <img class="c-work__image" src="{{ work.logo }}" alt="">
  </a>
  <div class="c-work__body">
    <h4>Next</h4>
    <h2>
      <a href="{{ work.url | prepend: site.baseurl }}" class="c-work__li--{{ work.title }} u-inline-block">
        {{ work.org }}
      </a>
    </h2>
    <ul class="c-work__project-list">
      <li class="c-work__project">
        <a href="{{ work.url | prepend: site.baseurl }}" class="c-work__li--{{ work.title }}">
          <span>View projects</span>
          <div class="c-work__arrow">&#8594;</div>
        </a>
      </li>
    </ul>
  </div>
</article>
<hr>