// Global breakpoints
$bp-mobile: 28rem;
$bp-tiny: 32rem;
$bp-xxxs: 38rem;
$bp-xxs: 48rem;
$bp-xs: 58rem;
$bp-sm: 78rem;
$bp-md: 88rem;
$bp-heading-1120: 70rem;
$bp-heading-1160: 72.5rem;
$bp-description-976: 61rem;
$bp-description-988: 62.375rem;