// Light color theme
$backgroundColor: #FFFFFF;
$mediaBackground: #EBEBEB;
$borderColor: #D1D1D1;
$text: #323232;
$textLight: #949494;
$selection: #DBDBDB;
$selectionbackground: #262626;

// Dark color theme
$darkbackgroundColor: #191919;
$darkmediaBackground: #2E2E2E;
$darkborderColor: #3D3D3D;
$darktext: #E6E6E6;
$darktextLight: #808080;
$darkselection: #262626;
$darkselectionbackground: #DBDBDB;
