// Global color themes
$selection: #ffffff !default;
$selection-background: #3c6df0 !default;

$themes: (
  light: (
    backgroundColor: #ffffff,
    textColor: #363940,
    textLighter: #9599a2,
    primaryColor: #3c6df0,
    mediaBackground: #f2f2f2,
  ),
  dark: (
    backgroundColor: #1b1c1c,
    textColor: #ebecee,
    textLighter: #9599a2,
    primaryColor: #3c6df0,
    mediaBackground: #272829,
  ),
);
