// Global color themes
$selection: #E1E1E0;
$selection-background: #3B3935;
$backgroundColor: #fff;
$text: #3B3935;
$textLight: #9A968D;
$mediaBackground: #E1E1E0;
$borderColor: #E1E1E0;

// $darkbackgroundColor: #222523;
// $darkmediaBackground: #373938;
// $darkborderColor: #464947;
// $darktext: #F6F5F3;
// $darktextLight: #868279;
// $darkselection: #F6F5F3;
// $darkselection-background: #F6F5F3;