$spacing-border: 2px;
$spacing-half: 0.5rem;
$spacing-tiny: 1rem;
$spacing-xxs: 1.5rem;
$spacing-xs: 2rem;
$spacing-sm: 2.5rem;
$spacing-md: 3rem;
$spacing-lg: 3.5rem;
$spacing-xl: 4rem;
$spacing-xxl: 5rem;
$spacing-jumbo: 10rem;
