html, :root {
	box-sizing: border-box;
}

body {
	@include themify($themes) {
		color: themed('textColor');
		background-color: themed('backgroundColor');
	}

	font-family: "Harriet Text";
  font-style: normal;
  font-weight: normal;
	font-size: 1em;
	line-height: 1.6;
	text-rendering: optimizeLegibility;

	@media (min-width: $bp-md) {
		font-size: 1.125em;
	}
}
