*, ::after, ::before {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  margin-left: $spacing-xxs;
  padding-left: 0;
}

ul {
  list-style-type: disc;
}

img,
video {
  display: block;
  max-width: 100%;
  min-width: 100%;
}

video {
  object-fit: contain;
}
