h1, h2, h3, h4 {
  @include themify($themes) {
    color: themed('textColor');
  }
}

h1 {
  @include font-1;
  margin-bottom: $spacing-xs;
}

h2 {
  @include font-2;
  margin-bottom: $spacing-xxs;
}

h3 {
  @include font-3;
}

h4 {
  @include font-4;
}

p,
span {
  @include font-3;
}

p + p {
  margin-top: $spacing-xs;
}

a {
  @include themify($themes) {
    color: themed('primaryColor');
	}
  text-decoration: none;

  &:hover {
    @include themify($themes) {
  		border-color: themed('primaryColor');
  	}
    border-bottom: $spacing-border solid;
  }
}

figure {
  padding: 0 0 $spacing-xxs 0;
  margin-bottom: $spacing-xs;
}

figcaption {
  @include themify($themes) {
    color: themed('textLighter');
	}
  @include font-4;
  text-align: center;
}
