h1,
h2,
h3,
h4 {
  @include themify($themes) {
    color: themed('textColor');
  }
}

h1 {
  @include font-1;
}

h2 {
  @include font-2;
}

h3 {
  @include font-3;
}

h4 {
  @include font-4;
}

p {
  font-size: 1.125em;
}

a {
  @include themify($themes) {
		color: themed('textColor');
    border-bottom-color: themed('textColor');
	}

  text-decoration: none;
  border-bottom: 1px solid;

  &:hover {
    @include themify($themes) {
  		color: themed('primaryColor');
      border-bottom-color: themed('primaryColor');
  	}
  }
}

::selection {
  color: $selection;
  background: $selection-background;
}
