h1, h2, h3 {
  @include themify($themes) {
    color: themed('textColor');
  }
}

h1 {
  @include font-1;
}

h2 {
  @include font-2;
  margin-bottom: $spacing-tiny;
}

h3 {
  @include font-3;
}

h4 {
  @include themify($themes) {
    color: themed('textLighter');
  }
  @include font-3;
}

p,
span,
ul {
  @include font-3;
}

h1 + .c-grid__thirds {
  margin-top: $spacing-xxs;

  @media (min-width: $bp-xs) {
    margin-top: $spacing-xs;
  }
}

h4 + p {
  margin-top: $spacing-tiny;

  @media (min-width: $bp-xs) {
    margin-top: $spacing-xxs;
  }
}

.u-mb-tiny {
  margin-bottom: $spacing-tiny;

  @media (min-width: $bp-xs) {
    margin-bottom: $spacing-xxs;
  }
}

p + ul {
  padding-left: $spacing-xxs;
  margin-left: $spacing-xxs;
  margin-top: $spacing-tiny;
  margin-bottom: $spacing-tiny;

  @media (min-width: $bp-sm) {
    padding-left: $spacing-xxs;
    margin-left: $spacing-sm;
  }
}

p + p,
ul + p {
  margin-top: $spacing-xs;
}

img + div,
img + h2,
img + p,
figure + p,
figure + h2,
figcaption + h2,
figcaption + p,
figcaption + div,
video + p,
p + p > img,
p + img,
p + h2,
p + figure,
p + video,
ul + h2 {
  margin-top: $spacing-md;

  @media (min-width: $bp-sm) {
    margin-top: $spacing-lg;
  }

  @media (min-width: $bp-md) {
    margin-top: $spacing-xl;
  }
}

a {
  @include themify($themes) {
    color: themed('textColor');
	}
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  &:hover {
    @include themify($themes) {
      color: themed('textLighter');
    }
  }
}

figcaption {
  @include themify($themes) {
    color: themed('textLighter');
	}
  @include font-4;
  margin-top: $spacing-half;

  @media (min-width: $bp-xs) {
		margin-top: $spacing-tiny;
	}
}

hr {
  @include themify($themes) {
    border-color: themed('borderColor');
  }
  height: 0;
  border: none;
  border-bottom: 1px solid;
  margin: $spacing-md 0;

  @media (min-width: $bp-xs) {
    margin: $spacing-xxl 0;
  }
}
