// Set the encoding of the style sheet to Unicode UTF-8
@charset "UTF-8";

// Fonts
@font-face {
  font-family: "Geist";
  src: url("../../fonts/Geist-Regular.woff2") format("woff2");
  src: url("../../fonts/Geist-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist Meidum";
  src: url("../../fonts/Geist-Medium.woff2") format("woff2");
  src: url("../../fonts/Geist-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist SemiBold";
  src: url("../../fonts/Geist-SemiBold.woff2") format("woff2");
  src: url("../../fonts/Geist-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Geist Bold";
  src: url("../../fonts/Geist-Bold.woff2") format("woff2");
  src: url("../../fonts/Geist-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// Variables
@import "variables/_all";

// Mixins
@import "mixins/_all";

// Base styles
@import "base/_all";

// Components
@import "components/_all";

// Utilities
@import "utilities/_all";
