// Set the encoding of the style sheet to Unicode UTF-8
@charset "UTF-8";

// Fonts
@font-face {
  font-family: "CalibreWeb";
  src: url("../../fonts/CalibreWeb-Regular.eot") format("embedded-opentype");
  src: url("../../fonts/CalibreWeb-Regular.woff2") format("woff2");
  src: url("../../fonts/CalibreWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CalibreWeb";
  src: url("../../fonts/CalibreWeb-Bold.eot") format("embedded-opentype");
  src: url("../../fonts/CalibreWeb-Bold.woff2") format("woff2");
  src: url("../../fonts/CalibreWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// Variables
@import "variables/_all";

// Mixins
@import "mixins/_all";

// Base styles
@import "base/_all";

// Components
@import "components/_all";
