<!DOCTYPE html>
<html lang=en id="appRoot">
	<meta charset="utf-8"/>
	<title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:site_name" content="{{ site.name }}"/>
	<meta property="og:description" content="{{ site.description | strip_html }}"/>
	<meta property="og:url" content="{{ page.url }}"/>

	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="shortcut icon" href="{{ baseurl }}/images/matthew-paul_brooklyn_64.jpg"/>

	<body>
		<div class="c-wrap">
			{% include header-blog-post.html %}
			<main class="c-main">
				<div class="c-intro-blog">
					<h1>{{ page.title }}</h1>
				</div>
				{{ content }}
			</main>
			{% include footer.html %}
		</div>
		{% include theme-script.html %}
	</body>
</html>
