<!DOCTYPE html>
<html lang=en id="appRoot">
	<meta charset="utf-8"/>
	<title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	<meta name="viewport" content="initial-scale=1" />
	<meta name="p:domain_verify" content="73bb9724cf18cc4f5f5d8e8553eeb2ff"/>

	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:site_name" content="{{ site.name }}"/>
	<meta property="og:description" content="{{ site.description | strip_html }}"/>
	<meta property="og:url" content="{{ page.url }}"/>

	<link href="//cloud.webtype.com/css/0e2df6db-645d-4be8-87f7-fbf1e9f8042b.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="shortcut icon" href="{{ baseurl }}/images/matthew-paul_brooklyn_64.jpg"/>

	<body>
		<div class="c-wrap">
			{% include header.html %}
			<main class="c-main">
				<div class="c-intro">
					<h1>{{ page.heading }}</h1>
					<h3>{{ page.description }}</h3>
				</div>
				{{ content }}
			</main>
			{% include footer.html %}
		</div>

		<script type="text/javascript">

			function applyTheme(theme) {
				document.getElementById("appRoot").className = theme;
				sessionStorage.setItem ("theme", theme);
			}

			function applyLightTheme() {
				applyTheme("theme-light");
			}

			function applyDarkTheme() {
				applyTheme("theme-dark");
			}

			function toggleTheme() {
				if (sessionStorage.getItem("theme") === "theme-light")
					applyDarkTheme();
				else
					applyLightTheme();
			}

			function initiateTheme() {
				if (sessionStorage.getItem("theme") === null)
					applyLightTheme();
				else
					applyTheme(sessionStorage.getItem("theme"));
			}

			initiateTheme();
		</script>
	</body>
</html>
