<!DOCTYPE html>
<html lang=en id="appRoot">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63847002-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-63847002-2');
	</script>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	<meta name="description" content="Software Designer and Design Engineer with 12+ years of experience, specializing in designer, developer, and collaborative workflow tools.">
	<link rel="canonical" href="https://matthewcpaul.com/">

	<meta property="og:title" content="{{ site.name }}"/>
	<meta property="og:description" content="{{ site.description | strip_html }}"/>
	<meta property="og:url" content="https://matthewcpaul.com"/>
	<meta property="og:site_name" content="{{ site.name }}">
	<meta property="og:image" content="https://matthewcpaul.com/images/og/social-image.jpg"/>
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta property="og:type" content="website">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@matthewcpaul">
	<meta name="twitter:title" content="Matthew Paul - Software Designer">
	<meta name="twitter:description" content="Product Designer and Design Engineer with 12+ years of experience, specializing in designer, developer, and collaborative workflow tools.">
	<meta name="twitter:image" content="https://matthewcpaul.com/images/og/social-image.jpg">
	<meta name="twitter:image:width" content="1200">
	<meta name="twitter:image:height" content="630">

	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="shortcut icon" href="{{ baseurl }}/images/favicon/favicon-matthew-paul.png"/>

	<body>
		<div class="c-wrap__pad" tabindex="-1">
			<div class="c-wrap">
				{% include header.html %}
				<main class="c-main">
					<article>
						<section>
							<h1 class="heading-max-width">{{ page.heading }}</h1>
							<p class="description-max-width">{{ page.description }}</p>
						</section>
						<hr>
						{{ content }}
					</article>
				</main>
				{% include footer.html %}
			</div>
		</div>
	</body>
</html>
